$light: #e8e8e8;
$mid-color: #a0a1a4;
$dark: #000000;

#root {
    display: grid;
    grid-template-columns: fit-content(200px) auto;
    grid-template-rows: auto auto;
}

header {
    grid-area: 1 / 1 / span 1 / span 1;
    padding: 50px 0;
    background: $light;

    #arrow {
        position: fixed;
        top: 5px;
        left: 5px;
        z-index: 1;
        border-radius: 5px;
        padding: 5px;
        font-size: 1rem;
        color: $dark;
        background: transparent;
        cursor: pointer;

        &:hover {
            color: $light;
            background: $dark;
        }

    }

    nav {
        ul {
            list-style-type: none;

            li {
                margin: 20px;
                white-space: nowrap;
            }
        }

        .nav-btn {
            border: none;
            font-size: 1rem;
            color: $dark;
            background: transparent;
            cursor: pointer;

            &:hover {
                font-weight: 800;
                transform: translateX(10px);
            }
        }
    }
}

#task-box {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    background: rgba($light, 0.7);

    #new-task-container {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: solid;
        padding: 30px;
        width: 500px;
        height: 150px;
        background: #ffffff;

        #close-btn {
            display: block;
            margin-left: auto;
            border: none;
            width: fit-content;
            color: $dark;
            background: transparent;

            &:hover {
                font-weight: 800;
            }
        }

        form {
            display: flex;
            flex-flow: column;
            justify-content: center;

            label {
                font-weight: 800;
            }

            input {
                margin: 20px 0;
                padding: 10px;
            }

            #add-btn {
                margin: 0 auto;
                border: none;
                border-radius: 20px;
                padding: 5px 10px;
                width: fit-content;
                color: $dark;
                background: $light;

                &:hover {
                    color: $light;
                    background: $dark;
                }
            }
        }
    }
}

main {
    grid-area: 1 / 2 / span 1 / span 1;
    padding: 50px;
    min-height: 85vh;
    position: relative;

    ul {
        display: flex;
        flex-flow: wrap;
        list-style-type: none;

        li {
            margin: 20px;
            border-radius: 40px;
            border: solid;
            padding: 20px 30px;
            flex: 0 0 300px;

            button {
                display: block;
                margin-left: auto;
                border: none;
                border-radius: 20px;
                padding: 5px 10px;
                color: $dark;
                background: $light;

                &:hover {
                    color: $light;
                    background: $dark;
                }
            }

            #restore-btn {
                margin: 10px auto 0 auto;
            }

            hr {
                margin: 20px 0;
            }

            form {
                display: flex;
                justify-content: space-evenly;

                label {
                    color: $mid-color;

                    input {
                        margin-right: 5px;

                        &:checked+span {
                            color: $dark;
                        }
                    }
                }
            }
        }
    }

    #stats {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
}

footer {
    grid-area: 2 / 1 / span 1 / span 2;
    margin: 20px;
    text-align: center;
}