$light: #e8e8e8;
$mid-color: #a0a1a4;
$dark: #000000;

main {
    min-width: 800px;
    min-height: 95vh;
    display: flex;
}

nav {
    padding: 30px;
    background: $light;

    ul {
        list-style-type: none;

        li {
            margin: 10px 20px;
            white-space: nowrap;
        }
    }

    .nav-btn {
        border: none;
        font-size: 1rem;
        color: $dark;
        background: transparent;
        cursor: pointer;

        &:hover {
            font-weight: 800;
            transform: translateX(10px);
        }
    }
}

#task-box {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    background: rgba($light, 0.7);

    #new-task-container {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: solid;
        padding: 30px;
        width: 250px;
        height: 150px;
        background: #ffffff;

        #close-btn {
            display: block;
            margin: 0 0 0 auto;
            border: none;
            width: fit-content;
            color: $dark;
            background: transparent;

            &:hover {
                font-weight: 800;
            }
        }

        form {
            display: flex;
            flex-flow: column;
            justify-content: center;

            label {
                font-weight: 800;
            }

            input {
                margin: 20px 0;
                padding: 10px;
            }

            #add-btn {
                margin: 0 auto;
                border: none;
                border-radius: 20px;
                padding: 5px 10px;
                width: fit-content;
                color: $dark;
                background: $light;

                &:hover {
                    color: $light;
                    background: $dark;
                }
            }
        }
    }
}

section {
    padding: 30px;
    width: 100%;
    position: relative;

    ul {
        list-style-type: none;

        li {
            margin: 20px;
            border-radius: 40px;
            border: solid;
            padding: 20px 30px;
            width: 300px;

            button {
                display: block;
                margin: 0 0 0 auto;
                border: none;
                border-radius: 20px;
                padding: 5px 10px;
                color: $dark;
                background: $light;

                &:hover {
                    color: $light;
                    background: $dark;
                }
            }

            #restore-btn {
                margin: 10px auto 0 auto;
            }

            hr {
                margin: 20px 0;
            }

            form {
                display: flex;
                justify-content: space-evenly;

                label {
                    color: $mid-color;

                    input {
                        margin-right: 5px;

                        &:checked + span {
                            color: $dark;
                        }
                    }
                }
            }
        }
    }

    #stats {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
}